# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn

## Data Science Tools

| Data Science Tools |
|--------------------|
| Jupyter            |
| GitHub             |
| TensorFlow         |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers
result = (3*4) + 5
result

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**
- Learn popular languages for Data Science.
- Understand how to perform arithmetic operations in Python.
- Explore different tools used in Data Science.

## Author
John Cole